<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SoulSync</title>
    <link rel="stylesheet" href="/static/list.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/home">
                <img src="/static/images/logo.jpg" alt="로고" class="logo-image">
            </a>
            <span class="logo-text">SoulSync</span>
        </div>
    </header>

    <aside class="sidebar">
        <a href="/home" class="sidebar-item">
            <img src="/static/images/home.png" alt="Home Icon" class="sidebar-icon">
            <span class="sidebar-text">홈</span>
        </a>
    </aside>


    <div class="main-content">
        <div class="playlist-section">
            <h2>오늘 추천된 믹스</h2>
            <div class="playlist">
                <div class="playlist-item">
                    {% for song in songs[:4] %} 
                    <img src="{{ song.Image_URL }}" alt="{{ song.Song }}" class="album-cover">
                    {% endfor %}
                </div>
            </div>
            <div class="playlist-name-container">
                <p class="playlist-name">{{ mood }}</p> 
            </div>
        </div>
        
        <div class="songs-section">
            <h2>추천된 노래 목록</h2>
            <div class="songs-list">
                {% for song in songs %}
                <a href="#" class="song-link">
                    <div class="song-item">
                        <img src="{{ song.Image_URL }}" alt="{{ song.Song }}" class="song-image"> 
                        <div class="song-info">
                            <p class="song-title">{{ song.Song }}</p> 
                            <p class="song-artist">{{ song.Artist }}</p> 
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
